.joke {
  background-color: #707070;
  color: white;
  border-radius: 7px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 50rem;
}

.joke p {
  font-size: 2rem;
}

.joke figcaption {
  text-align: center;
  color: #ffffff;
}
